.button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    border: none;
}

.variation-640x100 {
    width: 640px;
    height: 100px;

    font-size: 36px;
}

.variation-210x56 {
    width: 210px;
    height: 56px;

    font-size: 20px;
}

.variation-346x68 {
    width: 345px;
    height: 68px;

    font-size: 24px;
}

.variation-small {
    width: 80px;
    height: 24px;

    font-size: 14px;
    border-radius: 5px;
}

.variation-violet {
    color: #fff;
    background-color: #bc00ff;

    &:hover {
        background-color: #9605ca;
    }
}

.variation-red {
    background-color: #ef4444;
    color: #fff;

    &:hover {
        background-color: #fe1e1e;
    }
}

.variation-green {
    background-color: #22c55e;
    color: #fff;

    &:hover {
        background-color: #1eee6a;
    }
}

.variation-grey {
    background-color: #888888;
    color: #fff;

    outline: solid 1px #666;

    &:hover {
        background-color: #797979;
    }
}

.variation-black {
    background-color: #797979;
    color: #fff;

    &:hover {
        background-color: #000;
    }
}

.variation-pointer {
    cursor: pointer;
}
