.group {
  /** group to contain buttons */
  display: inline-flex;
  flex-direction: column;
  gap: 20px;

  position: absolute;
}

.topLeft {
  left: 20px;
  top: 20px;
}

.topRight {
  right: 20px;
  top: 20px;
}
